/* ################## */
/* CUSTOM PAGE STYLES */
/* ################## */

/********************/
/* TABLE OF CONTENT */
/********************/
/*
	1. NAV HACK
	2. H1
	3. CARDS CAROUSEL
		3a. Cards
	4. COLUMNS INFORMATIONS WITH ICONS
*/

/***************/
/* 1. NAV HACK */
/***************/
body#home #main_nav{
	background-color:transparent
}

/*********/
/* 2. H1 */
/*********/
h1.romina{
	height: 550px;
	text-align:center;
	font-size:0.8125rem;
	color:@write;
	padding:0 -webkit-calc( (100% - 500px) / 2);
	padding:0 calc( (100% - 500px) / 2);
	line-height:normal;
	text-transform: none;
	letter-spacing:0.12rem;
	padding-top: 195px
}
	h1.romina strong{
		color:@write;
		width: 100%;
		font-size:2.875rem;
		text-transform: uppercase;
		line-height:3rem;
		display: block;
		margin-bottom: 5px;
		letter-spacing:0.15rem
	}

/*********************/
/* 3. CARDS CAROUSEL */
/*********************/
#card_carousel{
	width: 950px;
	height: 100px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative
}
#card_carousel::after{
	content: '';
	display: block;
	position: absolute;
	z-index:50;
	left: 0;
	right: 0;
	bottom:-30px;
	height:30px;
	border-top:1px solid @write;
	overflow: hidden;
	background-color:white
}

	/* 3a. Cards */
	/*-----------*/
	#cards{
		width:648px;
		position:relative;
		height:300px;
		overflow: hidden;
		margin-top:-200px
	}
		.card{
			width: 610px;
			background-color:white;
			height:100%;
			padding:18px 16px 0;
			position:absolute;
			-webkit-transition:all 500ms;
			-o-transition:all 500ms;
			transition:all 500ms;
			-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.2);
			-moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.2);
			box-shadow:0px 0px 5px 0px rgba(0,0,0,0.2);
		}
			.card .content{
				height: 100%;
				border-color: @write;
				border-style: solid;
				border-width: 1px 1px 0;
				position: relative;
				padding:30px 70px 0;
				text-align:center
			}	
				.card::before, .card::after{
					content:'';
					width: 1px;
					height:23px;
					background-color:@write;
					overflow: hidden;
					position: absolute;
					z-index: 5;
				}
				.card::before{
					top:-2px;
					left:8px;
					-webkit-transform: rotate(-40deg);
					-ms-transform: rotate(-40deg);
					-o-transform: rotate(-40deg);
					transform: rotate(-40deg);
				}
				.card::after{
					top:-2px;
					right:8px;
					-webkit-transform: rotate(40deg);
					-ms-transform: rotate(40deg);
					-o-transform: rotate(40deg);
					transform: rotate(40deg);
				}
				.card .content h2.romina{
					width: 100%;
					margin-bottom:35px;
					color:@write;
					text-transform: uppercase;
					font-size:1.5rem
				}
					.card .content h2.romina strong{
						display: block;
						margin-top:0;
						font-size:1rem;
						color:@blue;
						text-transform:none
					}
				.card .chapo{
					height:60px;
					width: 100%;
					margin-bottom:30px;
                    font-size:0.9rem;
                    line-height: 1.3rem
				}
		.card1{
			z-index:30;
			bottom: 0;
			right: 1px;
		}
		.card2{
			z-index:20;
			bottom: -10px;
			right: 19px;
		}
		.card3{
			z-index:10;
			bottom: -20px;
			right: 37px;
		}
	
/**************************************/
/* 4. COLUMNS INFORMATIONS WITH ICONS */
/**************************************/
#columns{
	margin-top:100px;
	padding:0 -webkit-calc( (100% - 930px) / 2);
	padding:0 calc( (100% - 930px) / 2);
	text-align:center
}
	#columns h3{
		margin-bottom:50px
	}
	#columns .chapo{
		line-height: 1.2rem;
		margin: 10px 0 30px;
	}
	.column{
		width:200px;
		text-align: center;
		font-size:1rem;
		color:@pink
	}
		.column img{
			display:inline-block;
			width:60px;
			height:60px;
			object-fit:contain;
			object-position: center center
		}
		.column strong{
			display: block;
			margin: 15px 0 10px;
			letter-spacing: 0.15rem;
			line-height: 1rem;
			color:@write;
			font-weight: 400;
			text-transform: uppercase
		}
		.column .descriptif{
			display: block;
			font-size: 1.05rem;
			-webkit-font-size:0.1rem;
			line-height: 1.25rem;
			margin: 0 15px
		}

/* *********************************** */
/* ***** RESPONSIVE BREAK POINTS ***** */
/* *********************************** */

/* ---------- MOBILE, PHABLET AND TABLET ---------- */
@media screen and (max-width:1299px){}

/* ---------- MOBILE, PHABLET AND TABLET PORTRAIT ---------- */
@media screen and (max-width:799px), screen and (min-width:800px) and (max-width:1299px) and (orientation:portrait){
	h1.romina{
		height: 455px;
		font-size:1rem;
		padding: 0 20px;
		padding-top: 100px
	}
		h1.romina strong{
			font-size:2rem;
			line-height:2.5rem;
			margin-bottom: 5px
		}

	#card_carousel{
		width:100%;
		max-width:410px;
        height: 50px;
	}
    #card_carousel .swiper-pagination{
        bottom:-30px;
        z-index:100
    }
        #card_carousel .swiper-pagination-bullet{
            margin:0 2px
        }
    #card_carousel div.nav.flex{
        display: none
    }
		#cards{
			width:100%;
            height:250px
		}
			.card{
                position:relative;
				width:100%;
                transition:none
			}
				.card .content{
					padding:15px 10px 0
				}
					.card .content h2.romina{
						margin-bottom:15px;
						font-size:1rem;
						line-height:1.2rem
					}
					.card .chapo{
						line-height:1.3rem;
						height:auto;
						margin-bottom:20px
					}
			.card1{
				bottom:auto;
				right:auto
			}
			.card2{
				bottom:auto;
				right:auto
			}
			.card3{
				bottom:auto;
				right:auto
			}

	#columns{
		margin-top:80px;
		padding:0 20px
	}
		#columns .chapo{
			font-size:1rem;
			line-height:1.3rem;
			margin: 10px 20px 30px
		}
		.column{
			width:100%;
			font-size:1.2rem;
			line-height: 1.3rem;
			margin-bottom: 30px
		}
			.column strong{
				font-size: 1.2rem;
				margin: 15px 20px 15px;
				line-height: 1.3rem
			}
			.column .descriptif{
				margin: 0 20px
			}
}

/* ---------- MOBILE AND PHABLET ---------- */
@media screen and (max-width:410px){
    #card_carousel{
        height:100px
	}
    #cards{
        height:310px;
        margin-top: -210px;
    }
    .card .chapo{
        line-height:1.2rem
    }
}

/* ---------- SMALL DESKTOP AND TABLET LANDSCAPE ---------- */
@media screen and (min-width:800px) and (max-width:1159px) and (orientation:landscape){}

/* ---------- TABLET PORTRAIT ---------- */
@media screen and (min-width:800px) and (max-width:1159px) and (orientation:portrait){}

/* ---------- BIG DESKTOP ---------- */
@media screen and (min-width:1500px){}