/* ################## */
/* CUSTOM PAGE STYLES */
/* ################## */

/********************/
/* TABLE OF CONTENT */
/********************/
/*
	1. H1 TTTLE
    2. CTA FORM
    3. FULL WIDTH IMAGE
	4. COLUMNS INFORMATIONS WITH ICONS
*/

/***************/
/* 1. H1 TTTLE */
/***************/
h1.romina{
	height:auto;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-bottom:0;
	line-height:normal;
	text-align: center;
    padding: 200px 20px 30px
}
	h1 strong{
		display:block;
		color:@blue;
		font-size:0.8125rem;
		margin-top:10px;
		text-transform:none;
		letter-spacing: 0.15rem
	}
#center_card{
    text-align:center;
    margin:20px
}

/***************/
/* 2. CTA FORM */
/***************/
#form{
	padding:40px -webkit-calc( (100% - 700px) / 2) 50px;
	padding:40px calc( (100% - 700px) / 2) 50px;
	position: relative
}
	#form input{
		border: none;
		background-color: white;
		padding:10px;
		color:@write;
		font-size: 0.53125rem;
		width:48%;
		display: inline-block;
		margin-bottom: 20px;
        border-radius:0;		
	}
	#form .flex input{
		border:1px solid #e9e9e9;
	}
	.rgpd{
		margin: 0 20px
	}
		.rgpd .item{
			display: inline-block;
			vertical-align:top;
			text-align: right;
			position: relative
		}
			form .rgpd input{
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0
			}
			form .rgpd label{
				display: inline-block;
				width:20px;
				height: 20px;
				border:solid #a5afb5 1px;
				border-radius:5px;
				margin-right: 0;
				position: relative;
				overflow: hidden;
				-webkit-transition: border-radius 300ms;
				-o-transition: border-radius 300ms;
				transition: border-radius 300ms;
			}
			.rgpd label::before{
				content:'\f00c';
				font-family:'Font Awesome 5 Pro';
				font-weight: 900;
				position: absolute;
				top: 0;
				left:-20px;
				opacity:0;
				color:@orange;
				-webkit-transition: opacity 300ms, left 300ms;
				-o-transition: opacity 300ms, left 300ms;
				transition: opacity 300ms, left 300ms;
			}
			form .rgpd input:checked + label{
				border-radius:10px
			}
			form .rgpd input:checked + label::before{
				opacity:1;
				left: 3px
			}
		.rgpd_text{
			display: inline-block;
			text-align:left;
			padding-left: 15px;
			width:-webkit-calc(100% - 30px);
			width:calc(100% - 30px);
		}
	.label{
		display: inline-block
	}
	#send_button{
		position: absolute;
		left: 0;
		right: 0;
		bottom: -20px;
		text-align: center
	}
		#links input{
			display:inline-block;
			background-color:@blue;
			text-align:center;
			margin: 0;
			position: relative;
			color: white;
			font-size: 0.875rem;
			letter-spacing: 0.05rem;
			border-radius:20px;
			cursor: pointer;
			-webkit-transition:color 300ms;
			-o-transition:color 300ms;
			transition:color 300ms;
			padding: 10px 50px;
			width:auto;
		}
/* ***** HOVER ***** */
		#links input:hover{
			color:@pink
		}

/***********************/
/* 3. FULL WIDTH IMAGE */
/***********************/
#fullwidth img{
	width: 100%;
	height: auto
}

/**************************************/
/* 4. COLUMNS INFORMATIONS WITH ICONS */
/**************************************/
#columns{
	margin-top:100px;
	padding:0 -webkit-calc( (100% - 930px) / 2);
	padding:0 calc( (100% - 930px) / 2);
	text-align:center
}
	#columns h3{
		margin-bottom:50px
	}
	#columns .chapo{
		line-height: 1.2rem;
		margin: 10px 0 30px;
	}
	.column{
		width:200px;
		text-align: center;
		font-size:1rem;
		color:@pink
	}
		.column img{
			display:inline-block;
			width:60px;
			height:60px;
			object-fit:contain;
			object-position: center center
		}
		.column strong{
			display: block;
			margin: 15px 0 10px;
			letter-spacing: 0.15rem;
			line-height: 1rem;
			color:@write;
			font-weight: 400;
			text-transform: uppercase
		}
		.column .descriptif{
			display: block;
			font-size: 1.05rem;
			-webkit-font-size:0.1rem;
			line-height: 1.25rem;
			margin: 0 15px
		}

/* *********************************** */
/* ***** RESPONSIVE BREAK POINTS ***** */
/* *********************************** */

/* ---------- MOBILE, PHABLET AND TABLET ---------- */
@media screen and (max-width:1299px){}

/* ---------- MOBILE, PHABLET AND TABLET PORTRAIT ---------- */
@media screen and (max-width:799px), screen and (min-width:800px) and (max-width:1299px) and (orientation:portrait){
    h1.romina{
        padding:30px 20px
    }
        h1.romina strong{
            font-size:1rem;
            line-height:1.3rem
        }
    #form{
        padding:50px 20px
    }
        #form input{
			width: 100%;
            font-size:0.8rem
        }
        .rgpd_text{
			width:-webkit-calc(100% - 30px);
            width:calc(100% - 30px)
        }
        #links input:hover{
            color:white
        }
    #columns{
		margin-top:80px;
		padding:0 20px
	}
		#columns .chapo{
			font-size:1rem;
			line-height:1.3rem;
			margin: 10px 20px 30px
		}
		.column{
			width:100%;
			font-size:1.2rem;
			line-height: 1.3rem;
			margin-bottom: 30px
		}
			.column strong{
				font-size: 1.2rem;
				margin: 15px 20px 15px;
				line-height: 1.3rem
			}
			.column .descriptif{
				margin: 0 20px
			}
}

/* ---------- MOBILE AND PHABLET ---------- */
@media screen and (max-width:410px){}

/* ---------- SMALL DESKTOP AND TABLET LANDSCAPE ---------- */
@media screen and (min-width:800px) and (max-width:1159px) and (orientation:landscape){}

/* ---------- TABLET PORTRAIT ---------- */
@media screen and (min-width:800px) and (max-width:1159px) and (orientation:portrait){}

/* ---------- BIG DESKTOP ---------- */
@media screen and (min-width:1500px){}