/* ################## */
/* CUSTOM PAGE STYLES */
/* ################## */

/********************/
/* TABLE OF CONTENT */
/********************/
/*
	1. RESULTS CONTAINERS
*/
	
/*************************/
/* 1. RESULTS CONTAINERS */
/*************************/
.line{
	margin:30px 0
}
.boxed{
	padding:0 -webkit-calc( (100% - 930px) / 2 );
	padding:0 calc( (100% - 930px) / 2 );
}
.half{
	width:-webkit-calc(50% - 15px);
	width:calc(50% - 15px);
}
.full{
    width:600px;
    margin: 0 auto;
}
	#results .product{
		position: relative;
	}
/* ***** HOVER ***** */
	#results .product:hover .downloadsmallblock{
		opacity:1
	}
		#results .product .toproduct img{
			width: 100%;
			height: 300px;
			object-fit:cover;
			display: block;
			vertical-align:top;
			border:1px solid #ececec;
		}
		#results .downloadsmallblock{
			position: absolute;
			top: 20px;
			left: 20px;
			right: 20px;
			opacity: 0;
		}
	h2{
		width: 290px;
		font-size:0.8rem;
		font-weight: 400;
		text-transform: uppercase;
		padding: 30px 0 5px;
		margin: 0 auto;
		line-height: 1.5rem;
	}
		h2 strong{
			font-size:1rem;
			font-weight:400;
			text-transform:none;
			color:@blue;
			display: block;
		}
	.descriptif{
		width: 290px;
		height: 60px;
		font-size: 0.9rem;
		margin:0 auto
	}
.solo{
	background:url("../../medias/imports/trame_background.png") no-repeat center 280px
}
	.solo .product{
		width: 100%
	}
		#results .solo .toproduct img{
			width: 450px;
			height: 400px;
			display: block;
		}
		#results .solo .downloadsmallblock{
			width: 410px;
			left:-webkit-calc( (100% - 410px) / 2);
			left:calc( (100% - 410px) / 2);
		}
		.solo h2, .solo .descriptif{
			width: 100%;
			padding:15px -webkit-calc( (100% - 290px) / 2 ) 5px;
			padding:15px calc( (100% - 290px) / 2 ) 5px;
			background-color:white
		}
		.solo .descriptif{
			padding-top:0
		}

/* *********************************** */
/* ***** RESPONSIVE BREAK POINTS ***** */
/* *********************************** */

/* ---------- MOBILE, PHABLET AND TABLET ---------- */
@media screen and (max-width:1299px){}

/* ---------- MOBILE, PHABLET AND TABLET PORTRAIT ---------- */
@media screen and (max-width:799px), screen and (min-width:800px) and (max-width:1299px) and (orientation:portrait){
	.boxed{
		padding:0
	}
	.half{
		width: 100%;
		max-width:300px
	}
	.full{
		width: 100%;
		max-width:300px
	}
		#results .product{
			margin: 0 auto 20px
		}
			#results .product .toproduct img{
				width: 100%;
				max-width:300px
			}
			#results .downloadsmallblock{
                position:relative;
				top:auto;
				left:auto;
				right:auto;
				opacity:1;
				font-size:0.6rem;
                padding-top:15px;
                background-color:white
                /*position: absolute;
                top: 20px;
                left: 20px;
                right: 20px;
                opacity: 0;*/
			}
		h2{
			width: 100%;
			max-width:300px
		}
		h2::after{
			content:' -'
		}
			h2 strong{
				display: block
			}
		.descriptif{
			width: 100%;
			max-width:300px;
            overflow: hidden;
            height:auto
		}		
		.solo{
			background:url("../../medias/imports/trame_background.png") no-repeat center 180px
		}
		.solo .product{
			width: 100%
		}
			#results .solo .toproduct img{
				width: 100%;
				max-width:300px;
				height: 300px
			}
			#results .solo .downloadsmallblock{
				width:100%;
                left:auto
			}
			.solo h2, .solo .descriptif{
				max-width:100%;
                padding:10px 0
			}
}

/* ---------- MOBILE AND PHABLET ---------- */
@media screen and (max-width:410px){
	.half{
		max-width:280px
	}
	.full{
		max-width:280px
	}
			#results .product .toproduct img{
				max-width:280px;
				height: 290px;
			}
		h2{
			max-width:280px
		}
		.descriptif{
			max-width:280px
		}		
		.solo{
			background:url("../../medias/imports/trame_background.png") no-repeat center 180px
		}
			#results .solo .toproduct img{
				max-width:280px
			}
			#results .solo .downloadsmallblock{
				left:auto
			}
	.solo h2, .solo .descriptif{
		max-width:100%;
        padding: 10px 0
	}
}

/* ---------- SMALL DESKTOP AND TABLET LANDSCAPE ---------- */
@media screen and (min-width:800px) and (max-width:1159px) and (orientation:landscape){}

/* ---------- TABLET PORTRAIT ---------- */
@media screen and (min-width:800px) and (max-width:1159px) and (orientation:portrait){}

/* ---------- BIG DESKTOP ---------- */
@media screen and (min-width:1500px){}