/* *********************** */
/* ***** CUSTOM SCSS ***** */
/* *********************** */

/********************/
/* VARS DECLARATION */
/********************/
<@url|https://www.priviledger.net/>
<@nomsite|Priviledger>
<@logomail|logo_priviledger_white.png>
<@mailcolor|#1e1628>
<@pink|#ea9d73>
<@lightpink|#f7c9aa>
<@write|#1e1628>
<@blue|#080875>
<@purple|#302c7d>
<@mainfont|font-family:'Lato',sans-serif>
<@romaltfont|font-family:'romina',serif>
<@faraltfont|font-family:'farnham',serif>