/* ################## */
/* CUSTOM PAGE STYLES */
/* ################## */

/********************/
/* TABLE OF CONTENT */
/********************/
/*
	1. CAROUSEL NAV LINKS FONTAWESOME ICON SIZE
	2. SALES CAROUSEL : IMAGE LEFT, TEXT RIGHT
	3. POPULAR ITEMS CAROUSEL
		3a. Drag bar for carousel
*/

/***********************************************/
/* 1. CAROUSEL NAV LINKS FONTAWESOME ICON SIZE */
/***********************************************/
div.nav{
	position: absolute;
	top: 0;
	width: 50px;
	height: 100%;
	z-index: 10
}
	div.nav a{
		width: 20px;
		color:@write
	}
	div.nav.nextLink{
		right: 0;
		text-align: right
	}
	div.nav.prevLink{
		left: 0
	}
		div.nav a .fal{
			font-size:2.5rem
		}
	/* ****** HOVER ***** */
		div.nav a:hover .fal{
			font-size: 2.5rem
		}

/**********************************************/
/* 2. SALES CAROUSEL : IMAGE LEFT, TEXT RIGHT */
/**********************************************/
#sales_carousel{
	margin-top:100px;
	/*padding:0 -webkit-calc( (100% - 890px) / 2) 30px;
	padding:0 calc( (100% - 890px) / 2) 30px;*/
	padding-bottom: 30px;
	text-align:center;
	background:url("../../medias/imports/trame_background.png") no-repeat center 337px
}
	#sales_container{
		/*width: 870px;*/
		height: 330px;
		/*padding: 0 50px;*/
		overflow: hidden;
		margin: 0 auto;
		position: relative
	}
	#sales_container div.nav.prevLink{
		left: -webkit-calc( (100% - 920px) / 2);
		left: calc( (100% - 920px) / 2);
	}
	#sales_container div.nav.nextLink{
		right: -webkit-calc( (100% - 920px) / 2);
		right: calc( (100% - 920px) / 2);
	}
		#sales{
			height:100%
		}
			.sale{
				/*width: 770px;
				padding:0 -webkit-calc( (100% - 770px) / 2) 30px;
				padding:0 calc( (100% - 770x) / 2) 30px;*/
				position: relative
			}
			.sale a{
				color:@write
			}
				.sale .block{
					width: 400px;
					height: 290px;
				}
				.sale img{
					position: absolute;
					top: 0;
					left: -webkit-calc( (100% - 770px) / 2);
					left: calc( (100% - 770px) / 2);
					object-fit:cover;
					z-index:5
				}
				.sale .content{
					background-color:@lightpink;
					position: absolute;
					top: 50px;
					right: -webkit-calc( (100% - 770px) / 2);
					right: calc( (100% - 770px) / 2);
					z-index: 1;
					padding: 50px;
					line-height:1.3rem;
					font-weight: 300;
					letter-spacing: 0.1rem
				}
					.sale em{
						font-size: 2.4rem;
						color:white;
						line-height:2.8rem;
						margin-bottom: 10px;
                        vertical-align:baseline
					}
                    .sale em span{
                        font-size:3.2rem
                    }
					.sale strong{ 
						font-size: 0.9375rem;
						width: 100%;
						display: block;
						margin-bottom:5px;
						font-weight: 600
					}

/*****************************/
/* 3. POPULAR ITEMS CAROUSEL */
/*****************************/
.popular_carousel{
	margin-top:100px;
	text-align:center;
}
	.baseline{
		font-size: 0.9rem;
		font-weight: 400;
		letter-spacing: 0.2rem
	}
		.popular_container{
			width: 930px;
			height: 290px;
			position: relative;
			margin: 30px auto;
			overflow: hidden
		}
			.popularSwipper{
				width:100%;
				height:100%
			}
				.popular_container .item{
					display: inline-block;
					width: 290px;
					height: 290px;
					/*border:1px solid @write;*/
					position: relative;
				}
					.popular_container .item a{
						display: inline-block;
						width: 100%;
						height: 100%;
						position: relative;
						color: white;
					}
						.popular_container .item img{
							width: 100%;
							height: 100%;
							object-fit:cover
						}
						.popular_container .item span{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background-color:rgba(30,22,40,0.8);
							opacity:0;
							-webkit-transition:opacity 300ms;
							-o-transition:opacity 300ms;
							transition:opacity 300ms;
							color:@write
						}
							.popular_container .item span strong{
								max-width:60%;
								padding: 5px 20px;
								background-color:white;
								color:@blue
							}
								.popular_container .item span em{
									display: block;
									@mainfont;
									color:@write
								}
		/* ***** HOVER ***** */
					.popular_container .item a:hover span{
						opacity:1
					}

			/* 3a. Drag bar for carousel  */
			/*----------------------------*/
			.carousel_nav{
				width:950px;
				margin: 30px auto 20px;
				position: relative
			}
				.swiper-scrollbar{
					border-bottom: 1px solid @write;
					border-radius:0;
					background-color:white
				}
					.swiper-scrollbar-drag{
						background-color:white;
						padding-top:10px;
						border-radius:0;
						cursor: pointer
					}
						.swiper-scrollbar-drag:after{
							content:'';
							display: block;
							height:5px;
							background-color:@write
						}

/* *********************************** */
/* ***** RESPONSIVE BREAK POINTS ***** */
/* *********************************** */

/* ---------- MOBILE, PHABLET AND TABLET ---------- */
@media screen and (max-width:1299px){}

/* ---------- MOBILE, PHABLET AND TABLET PORTRAIT ---------- */
@media screen and (max-width:799px), screen and (min-width:800px) and (max-width:1299px) and (orientation:portrait){
	#card_carousel div.nav{
		border:1px solid @write;
		background-color: white;
		top:80px;
		width: 40px;
		height: 40px;
		border-radius:25px;
		z-index: 100
	}
		#card_carousel div.nav a{
width: 20px;
color:@write
		}
		#card_carousel div.nav.nextLink{
			padding-right:5px;
right:15px;
text-align: right
		}
		#card_carousel div.nav.prevLink{
			padding-left: 5px;
left:15px
		}
			#card_carousel div.nav a .fal{
				font-size:1.5rem
			}
		/* ****** HOVER ***** */
			#card_carousel div.nav a:hover .fal{
				font-size: 1.5rem
			}
		#card_carousel a.link{
			font-size: 0.7rem;
			letter-spacing: 0.1rem;
			padding: 5px 10px
		}
	#sales_carousel{
		background:none
	}
		#sales_container{
			padding:0;
			height: 420px;
			background:none
		}
		#sales_container div.nav.prevLink{
			left: 0
		}
		#sales_container div.nav.nextLink{
			right: 0
		}
		#sales_container div.nav{
			top: 30px;
		}
			.sale .block{
				width:100%;
				height: 200px
			}
			.sale img.block{
				width:-webkit-calc(100% - 150px);
				width:calc(100% - 150px);
				left:-webkit-calc((100% - 320px) / 2);
				left:calc((100% - 320px) / 2);
                z-index: 10;
			}
			.sale .content{
				width:-webkit-calc(100% - 150px);
				width:calc(100% - 150px);
				top:200px;
				left: 100px;
				right:-webkit-calc((100% - 320px) / 2);
				right:calc((100% - 320px) / 2);
				z-index: 5;
				padding:20px;
                line-height: 1.1rem
			}
				.sale .content strong{
					text-align: center
				}
	.popular_carousel{
		margin-top:50px
	}
		.baseline{
			font-size:1.2rem;
			line-height: 1.6rem;
			padding: 0 20px
		}
			.popular_container{
				width:290px
			}
				.popular_container .item img{
					width: 100%;
					height: 75%;
					object-fit:contain
				}
				.popular_container .item span{
					background-color:transparent;
					opacity:1;
					padding-bottom:5px
				}
				.popular_container .item span.fxac{
					align-content: flex-end;
					align-items: flex-end
				}
					.popular_container .item span strong{
						font-size:1.2rem;
						line-height: 1.5rem;
						width: 100%;
						max-width: 100%;
						padding: 7px 20px
					}
			.carousel_nav{
				width:90%;
				max-width:290px
			}
				.swiper-scrollbar-drag:after{
					height:10px
				}
}

/* ---------- MOBILE AND PHABLET ---------- */
@media screen and (max-width:410px){
	.sale img.block{
		width:-webkit-calc(100% - 50px);
		width:calc(100% - 50px);
		left:-webkit-calc((100% - 320px) / 2);
		left:calc((100% - 320px) / 2)
	}
	.sale .content{
		width:-webkit-calc(100% - 50px);
		width:calc(100% - 50px);
		text-align:left;
		bottom:20px;
		left: 50px;
		right:-webkit-calc((100% - 320px) / 2);
		right:calc((100% - 320px) / 2);
		padding:20px 50px 20px 20px
	}
}

/* ---------- SMALL DESKTOP AND TABLET LANDSCAPE ---------- */
@media screen and (min-width:800px) and (max-width:1299px) and (orientation:landscape){}

/* ---------- TABLET PORTRAIT ---------- */
@media screen and (min-width:800px) and (max-width:1159px) and (orientation:portrait){}

/* ---------- BIG DESKTOP ---------- */
@media screen and (min-width:1500px){}